body {
    font-family: "Roboto", sans-serif;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 900px;  
    height: 415px;
    background-color: #F7F7F7;
    display: grid;
    grid-template-areas: 
    "featured-video related-section";
}

.featured-video {
    grid-area: featured-video;
    display: flex;
    flex-direction: column;
    padding: 35px 20px 20px 35px;
}

.featured-video .current-playing {
    width: 543px;
    height: 217px;
    background-color: #C4C4C4;
}

.featured-video .title {
    font-size: 18px;
    font-weight: 700;
    padding: 12px 0 7px 0;
}

.featured-video .views {
    font-size: 14px;
    font-weight: 300;
}

.featured-video .description {
    font-size:  16px;
    font-weight: 300;
    padding-top: 9px;
}

.related-section {
    grid-area: related-section;
    padding: 35px 35px 55px 0;
    gap: 10px;
}

.related-section .ad-thumbnail {
    width: 270px;
    height: 55px;
    background-color: #C4C4C4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.related-section a {
    font-size: 11px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

.related-video {
    display: flex;
    gap: 5px;
    align-items: start;
    margin-top: 15px;
}

.related-video .thumbnail-image {
    width: 100px;
    height: 70px;
    background-color: #C4C4C4;
}

.related-video-informations li {
    font-size: 11px;
    font-weight: 300;
    padding: 2px;
}

.related-video .related-video-informations .related-video-title {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 2px;
}
